
<!-- Tuck away the following content within a modal. -->
<a href="/">Table of contents</a>
<hr>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loremModel" >Launch model</button>
<div id="loremModel" class="modal fade" tabindex="-1"> 
  <div class="modal-dialog" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title">More details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-body">
        Lorem ipsum, dolor sit amet consectetur adipisici elit. Quos quis voluptatibus odit aperiam modi? Dolorem, facere laboriosam nesciunt beatae quasi neque, sequi nobis esse atque recusandae aut labore ab enim.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
  </div>
</div>
