<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p class = "button primary">
  <a>Primary</a>
</p>

<p class = "button secondary">
  <a>Secondary</a>
</p>

<p class = "button success">
  <a>Success</a>
</p>

<p class = "button danger">
  <a>Danger</a>
</p>

<p class = "button warning">
  <a>Warning</a>
</p>

<p class = "button info">
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p class = "button primary-unobtrusive"> 
  <a>Primary (unobtrusive)</a>
</p>

<p class = "button secondary-unobtrusive">
  <a>Secondary (unobtrusive)</a>
</p>

<p class = "button success-unobtrusive">
  <a>Success (unobtrusive)</a>
</p>

<p class = "button danger-unobtrusive">
  <a>Danger (unobtrusive)</a>
</p>

<p class = "button warning-unobtrusive">
  <a>Warning (unobtrusive)</a>
</p>

<p class = "button info-unobtrusive">
  <a>Info (unobtrusive)</a>
</p>
